body {
  position: relative;
  margin: 0 auto;
  background-color: #3c455a;
  color: white;
  margin: 0.5rem auto;
  margin-bottom: 1.5rem;
  overflow: hidden;
  width: 400px;
  height: 350px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.3rem;
}
.title h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
}
.title select {
  min-width: 150px;
  font-size: 1rem;
  font-family: "Noto Sans", sans-serif;
  border: none;
  outline: none;
  background: black;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.main-logo {
  max-width: 210px;
  height: auto;
  margin-bottom: 0.7rem;
}

.sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  padding-bottom: 0;
}
.sub-title img {
  max-width: 20px;
  height: auto;
}
.sub-title p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

.steps {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
  margin: auto;
  padding: 1rem;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 230px;
  height: 150px;
  background-color: #0f172b;
  padding: 1rem;
  border-radius: 10px;
}
.step img {
  display: none;
  width: 50px;
  height: auto;
  margin: auto;
}
.step strong {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  background-color: rgb(33, 85, 163);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.step p {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
}
.step button {
  padding: 0.5rem 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  background-color: rgb(33, 85, 163);
  border: none;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 0;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.1s linear;
}
.step button:hover {
  background-color: rgb(53, 119, 217);
  cursor: pointer;
}
.step button:active {
  transform: translateY(4px);
}

.p2 {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.disabled strong, .disabled button {
  filter: grayscale(100%);
}

.loading-bit {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
}

.final-results-loading {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  height: 150px;
  padding-top: 1rem;
}
.final-results-loading p {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
}

.final-results {
  padding-top: 0.5rem;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.final-results ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  height: 160px;
  min-width: 350px;
  padding: 0.5rem;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 10px;
}
.final-results ul li {
  font-size: 1.1rem;
  font-family: "Noto Sans", sans-serif;
  list-style-type: none;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loader {
  width: 90px;
  height: 14px;
  box-shadow: 0 3px 0 #fff;
  position: relative;
  clip-path: inset(-40px 0 -5px);
}

.loader:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 17px) 0;
  height: 50px;
  --g:no-repeat linear-gradient(#ccc 0 0);
  background: var(--g), var(--g), var(--g), var(--g);
  background-size: 16px 14px;
  animation: l7-1 2s infinite linear, l7-2 2s infinite linear;
}

@keyframes l7-1 {
  0%, 100% {
    background-position: 0 -50px, 100% -50px;
  }
  17.5% {
    background-position: 0 100%, 100% -50px, 0 -50px, 100% -50px;
  }
  35% {
    background-position: 0 100%, 100% 100%, 0 -50px, 100% -50px;
  }
  52.5% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% -50px;
  }
  70%, 98% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% calc(100% - 16px);
  }
}
@keyframes l7-2 {
  0%, 70% {
    transform: translate(0);
  }
  100% {
    transform: translate(200%);
  }
}/*# sourceMappingURL=styles.css.map */